.tab-Item-container {
  list-style-type: none;
}

.tab-btn {
  height: 30px;
  width: 100px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #dfe2e5;
  color: #7b8794;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.active {
  height: 33px;
  color: #2563eb;
  border-color: #2563eb;
  font-size: 20px;
  border-width: 2px;
}
